{% extends "escapegame/base.html" %}
{% block content %}
	<div class="row">
	{% if games|length < 1 %}
		<div class="col-sm-6">
			<span>
				<p>No escape game configured yet.<br>
				You can visit <a href="/admin/escapegame/escapegame/">this</a> page to create a new escape game.</p>
			</span>
		</div>
	{% else %}
		{% for game in games %}
		<div class="col-sm-6">
			<div class="card">
				<img class="card-img-top" src="" alt="">
				<div class="card-body">
					<h5 class="card-title">{{ game.escapegame_name }}</h5>
					<p class="card-text">page de gestion de l'espace {{ game.escapegame_name }}</p>
					<a href="/web/{{ game.slug }}/" class="btn btn-primary">Interface de gestion</a>
				</div>
			</div>
		</div>
		{% endfor %}
	{% endif %}
	</div>
{% endblock %}
