.logo > img {
	width: 160px;
	height: 200px;
	text-align: center;
}
.title > h1 {
	font-family: Avenir;
	text-align: center;
	margin-bottom: 50px;
}

label.head-border {
	border: solid black 1px;
	margin-top: 20px !important;
}

.head-block {
	text-align: center;
	width: 70%;
	margin: 10px auto !important;
}

button {
	background: #FFF;
	border:0;
}

.time {
	margin-top: 30px;
	font-size: 20px;
	font-weight: bold;
}

.navbar {
	margin-bottom: 40px;
}

table {
	margin-top: 10px;
	margin-left: 10px;
}

table, th, td {
	text-align: center;
	padding: 5px;
	border: 1px solid black;
}

td a {
	display: block;
	width: 100%;
	height: 100%;
}

.image-with-caption {
	/* width of logo images */
	width: 100px;
	margin-left: 10px;
}

.image-with-caption p {
	height: 30px;
	font-size: 75%;
	text-align: center;
}

.image-with-caption img {
	display: block;
	margin: 0 auto;
}

div.radio-raspi {
	width: 80%;
}

div.escapegame-card {
	margin-bottom: 20px;
}

div.import-export {
	width: 50%;
	margin: 0 auto;
}

table.challenge-status {
	margin-bottom: 30px;
	width: 100%;
}

input[type=file].import-export {
	margin-bottom: 10px;
}

input[type=checkbox].import-export {
	margin-top: 5px;
	margin-right: 10px;
}

img.map {
	display: block;
	padding: 5px;
	border: 1px solid #021a40;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.dropdown-menu .dropdown-item:hover {
	color: #ffffff;
	background-color: #007bff;
}

select.select-media {
	width: 90%;
}

.badge {
	min-width: 20%;
	max-height: 24px;
}

.button-disabled {
	opacity: 0.2;
}

.small-img {
	zoom: 0.5;
}

.small-img p {
	zoom: 1.5;
}
