.logo > img {
	width: 160px;
	height: 200px;
	text-align: center;
}
.title > h1 {
	font-family: Avenir;
	text-align: center;
	margin-bottom: 50px;
}

.play_img {
	background-image: url(img/icons8-play-100.png);
}

.reset_img {
	background-image: url(img/icons8-stop-100.png);
}

.head_border {
	border: solid black 1px;
}

.head_block {
	text-align: center;
	width: 50%;
	margin: 0 auto !important;
}

button {
	background: #FFF;
	border:0;
}

.time {
	margin-top: 30px;
	font-size: 20px;
	font-weight: bold;
}

.card {
}

.navbar {
	margin-bottom: 40px;
}

table {
	margin-top: 10px;
	margin-left: 10px;
}

table, th, td {
	text-align: center;
	padding: 5px;
	border: 1px solid black;
}

.image-with-caption {
	/* width of logo images */
	width: 100px;
	margin-left: 10px;
}

.image-with-caption p {
	height: 30px;
	font-size: 75%;
	text-align: center;
}

.image-with-caption img {
	display: block;
	margin: 0 auto;
}
