{% extends "admin/app_index.html" %}
{% load i18n %}

{% block bodyclass %}{{ block.super }} app-{{ app_label }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
	<a href="{% url 'escapegame:index' %}">{% trans 'Home' %}</a>
	&rsaquo;
	<a href="{% url 'json_index' %}">{% trans 'JSON' %}</a>
	&rsaquo;
	Export
</div>
{% endblock %}

{% block content %}
	<div class="title">
		<h1>Export configuration</h1>
	</div>
	<div class="import-export">
		<form method="POST">
			<div class="col">
				<div class="row">
					<input id="indent" name="indent" class="import-export" type="checkbox" checked />
					<label for="indent">Beautify JSON</label>
				</div>
				<div class="row">
					<input id="export_date" name="export_date" class="import-export" type="checkbox" checked />
					<label for="export_date">Export date</label>
				</div>
				<div class="row">
					<input id="software_version" name="software_version" class="import-export" type="checkbox" checked />
					<label for="software_version">Software version</label>
				</div>
				<div class="row">
					<input id="images" name="images" class="import-export" type="checkbox" checked />
					<label for="images">Images</label>
				</div>
				<div class="row">
					<input id="videos" name="videos" class="import-export" type="checkbox" checked />
					<label for="videos">Videos</label>
				</div>
				<div class="row">
					<input id="video_players" name="video_players" class="import-export" type="checkbox" checked />
					<label for="video_players">Video players</label>
				</div>
				<div class="row">
					<input id="escapegames" name="escapegames" class="import-export" type="checkbox" checked />
					<label for="escapegames">Escape games</label>
				</div>
				<div class="row">
					<input id="rooms" name="rooms" class="import-export" type="checkbox" checked />
					<label for="rooms">Rooms</label>
				</div>
				<div class="row">
					<input id="challenges" name="challenges" class="import-export" type="checkbox" checked />
					<label for="challenges">Challenges</label>
				</div>
				<div class="row">
					<input id="arduinos" name="arduinos" class="import-export" type="checkbox" checked />
					<label for="arduinos">Arduinos</label>
				</div>
				<div class="row">
					<input id="raspberry_pis" name="raspberry_pis" class="import-export" type="checkbox" checked />
					<label for="raspberry_pis">Raspberry Pis</label>
				</div>
				<div class="row">
					<input id="remote_challenge_pins" name="remote_challenge_pins" class="import-export" type="checkbox" checked />
					<label for="remote_challenge_pins">Remote challenge pins</label>
				</div>
				<div class="row">
					<input id="remote_door_pins" name="remote_door_pins" class="import-export" type="checkbox" checked />
					<label for="remote_door_pins">Remote door pins</label>
				</div>
				<div class="row">
					<input id="remote_led_pins" name="remote_led_pins" class="import-export" type="checkbox" checked />
					<label for="remote_led_pins">Remote LED pins</label>
				</div>
				<div class="row">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
