{% extends "escapegame/base.html" %}
{% load i18n %}
{% load static %}
{% block header %}{% include "escapegame/head.html" %}
	<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
{% block content %}

		<div class="title">
			<h1>{{ game.name }}</h1>
		</div>

		<!-- Game controls -->
		<div class="col head_block">

			<!-- Escape game controls -->
			<label class="head_block head_border">{% trans "Escape game controls" %}</label>
			<div class="row head_block">
				<div class="col">

					<!-- Reset escape game button -->
					<button id="reset-escapegame" value="{{ game.slug }}" type="submit">
						<div class="image-with-caption">
							<img src="{% static 'img/icons8-reset-100.png' %}" title="{% trans "Reset escape game" %}">
							<p>{% trans "Reset escape game" %}</p>
						</div>
					</button>
				</div>
			</div>

			<!-- Video controls -->
			<label class="head_block head_border">{% trans "Video controls" %}</label>
			<div class="row head_block">

				<!-- Video lists-->
				<div class="col">

					<div class="row">
						<select id="selected-video" class="head_block form-control mx-auto">{% for video in videos %}
							<option name="{{ video.video_name }}" value="{{ video.slug }}" {% if video.slug == game.briefing_video.slug %} selected{% endif %}>
								{% trans "Video" %} - {{ video.video_name }}
							</option>{% endfor %}
						</select>
					</div>

					<div class="row">
						<div class="col radio width-70">

{% for raspi in raspberry_pis %}
							<label class="row width-80 mx-auto">
								<input class="col-1" name="selected-raspberry-pi" type="radio"{% if not raspi.online %} disabled{% elif raspi == raspberry_pis.0 %} checked{% endif %}>
								&nbsp;
								<span class="col-8 text-left">{% trans "Raspberry Pi" %} - {{ raspi.name }}&nbsp;</span>
								<span class="col-2 text-center badge badge-{{ raspi.badge }}" id="raspberry-pi-{{ raspi.slug }}" data-slug="{{ raspi.slug }}">{{ raspi.status }}</span>
							</label>
{% endfor %}
						</div>
					</div>

					<div class="row">
						<div class="col">

							<!-- Play video button -->
							<button id="video-play" type="submit">
								<div class="image-with-caption">
									<img src="{% static 'img/icons8-play-100.png' %}" title="{% trans "Play video" %}">
									<p>{% trans "Start video" %}</p>
								</div>
							</button>

							<!-- Pause video button -->
							<button id="video-pause" type="submit" class="d-none">
								<div class="image-with-caption">
									<img src="{% static 'img/icons8-pause-100.png' %}" title="{% trans "Pause video" %}">
									<p>{% trans "Pause video" %}</p>
								</div>
							</button>

							<!-- Stop video button -->
							<button id="video-stop" type="submit">
								<div class="image-with-caption">
									<img src="{% static 'img/icons8-stop-100.png' %}" title="{% trans "Stop video" %}">
									<p>{% trans "Stop video" %}</p>
								</div>
							</button>

						</div>
					</div>

				</div>

			</div>

			<!-- Doors controls -->
			<label class="head_block head_border">{% trans "Door controls" %}</label>
			<div class="row head_block">
				<div class="col">

				{% for door in game.doors %}
					{% with door_prefix=door.name|slice:"0:1"|lower door_suffix=door.name|slice:"1:" %}
					{% with door_name=door_prefix|add:door_suffix %}


					<button class="unlock-button{% if not door.locked %} d-none{% endif %}" id="unlock-{{ game.slug }}-{{ door.slug }}" value="{{ door.url_callback }}/unlock/" type="submit">
						<div class="image-with-caption">
							<img src="{% static 'img/icons8-cadenas-100.png' %}" title="{% trans "Unlock" %} {{ door_name }}">
							<p>{% trans "Unlock" %} {{ door_name }}</p>
						</div>
					</button>
					<button class="lock-button{% if door.locked %} d-none{% endif %}" id="lock-{{ game.slug }}-{{ door.slug }}" value="{{ door.url_callback }}/lock/" type="submit">
						<div class="image-with-caption">
							<img src="{% static 'img/icons8-ouvrir-100.png' %}" title="{% trans "Lock" %} {{ door_name }}">
							<p>{% trans "Lock" %} {{ door_name }}</p>
						</div>
					</button>

					{% endwith %}
					{% endwith %}
				{% endfor %}

				</div>
			</div>

			<!-- Escape game counter -->
			<label class="head_block head_border">{% trans "Time Elapsed" %}</label>
			<div class="row head_block" style="text-align: center;">
				<div class="col">
					<font size="18">
						<div id="counter">
							0:00:00
						</div>
					</font>
				</div>
			</div>
		</div>
{% if rooms|length < 1 %}
		<!-- Room controls -->
		<div class="col head_block">
			<span>
				<p>
					{% trans "No room configured yet for this escape game." %}
					<br>
					{% trans "You can visit" %}
					<a href="/{{ request.LANGUAGE_CODE }}/admin/escapegame/escapegameroom/">
						{% trans "this" %}
					</a>
					{% trans "page to create new rooms." %}
				</p>
			</span>
		</div>
{% else %}{% for room in rooms %}
		<!-- Room controls -->
		<div class="col head_block" id="{{ room.slug }}">
			<label class="head_block head_border">&laquo;&nbsp;{{ room.name }}&nbsp;&raquo;</label>
			<div class="row head_block">

			{% if room.challs|length < 1 %}
				<!-- Challenge controls -->
				<div class="col">
					<span>
						<p>
							{% trans "No challenge configured yet for this room." %}
							<br>
							{% trans "You can visit" %}
							<a href="/admin/escapegame/escapegamechallenge">
								{% trans "this" %}
							</a>
							{% trans "page to create new challenges." %}
						</p>
					</span>
				</div>
			{% else %}
				<!-- Challenge controls -->
				<div class="col">
					<table class="challenge-status">
						<tr>
							<th>{% trans "Enigmes" %}</th>
							<th>{% trans "Statut" %}</th>
						</tr>
					{% for chall in room.challs %}
						<tr>
							<td width="80%">{{ chall.name }}</td>
							<td width="20%">
							<a class="challenge-reset{% if not chall.gpio.solved %} d-none{% endif %}" href="{{ chall.url_callback }}/reset/" id="reset-{{ game.slug }}-{{ chall.slug }}">
								<img src="{% static 'admin/img/icon-yes.svg' %}" />
							</a>
							<a class="challenge-validate{%if chall.gpio.solved %} d-none{% endif %}" href="{{ chall.url_callback }}/validate/" id="validate-{{ game.slug}}-{{ chall.slug }}">
								<img src="{% static 'admin/img/icon-no.svg' %}"/>
							</a>
							</td>
						</tr>
					{% endfor %}
					</table>
				</div>
			{% endif %}
				<div class="col col-lg-4">
					{% with door_prefix=room.name|slice:"0:1"|lower door_suffix=room.name|slice:"1:" %}
					{% with door_name=door_prefix|add:door_suffix %}
					<button class="unlock-button{% if not room.door.locked %} d-none{% endif %}" id="unlock-{{ game.slug }}-{{ room.slug }}" value="{{ room.url_callback }}/unlock/" type="submit">
						<div class="image-with-caption">
							<img src="{% static 'img/icons8-cadenas-100.png' %}" title="{% trans "Unlock" %} {{ door_name }}">
							<p>{% trans "Unlock" %} {{ door_name }}</p>
						</div>
					</button>
					<button class="lock-button{% if room.door.locked %} d-none{% endif %}" id="lock-{{ game.slug }}-{{ room.slug }}" value="{{ room.url_callback }}/lock/" type="submit">
						<div class="image-with-caption">
							<img src="{% static 'img/icons8-ouvrir-100.png' %}" title="{% trans "Lock" %} {{ door_name }}">
							<p>{% trans "Lock" %} {{ door_name }}</p>
						</div>
					</button>
					{% endwith %}
					{% endwith %}
				</div>
			</div>
		</div>
{% endfor %}{% endif %}
		<!-- Map -->
		<div class="col head_block">
			<label class="head_block head_border">{% trans "Map" %}</label>
			<div class="col head_block">
				{% if not game.map_image %}<span>{% trans "No map data available." %}</span>{% else %}<canvas id="map" class="col head_block" width="1648" height="904"></canvas>{% endif %}
			</div>
		</div>

{% endblock %}
