{% extends "escapegame/base.html" %}
{% load i18n %}
{% load static %}
{% block header %}{% include "escapegame/head.html" %}
	<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
{% block content %}

		<div class="title">
			<h1>{{ game.escapegame_name }}</h1>
		</div>

		<!-- Game controls -->
		<div class="col head_block">
			<label class="head_block head_border">{% trans "Area" %} &laquo;&nbsp;{{ game.escapegame_name }}&nbsp;&raquo;</label>

			<!-- Video controls -->
			<div class="row head_block border">

				<!-- Video lists-->
				<div class="col">

					<div class="row">
						<!--<label for="selected-video" id="selected-video-label">{% trans "Selected video" %}{% if request.LANGUAGE_CODE == "fr" %}&nbsp;{% endif %}:</label>-->
						<select id="selected-video" class="head_block form-control mx-auto">{% for video in videos %}
							<option name="{{ video.video_name }}" value="{{ video.slug }}" {% if video.slug == game.briefing_video.slug %} selected{% endif %}>
								{% trans "Video" %} - {{ video.video_name }}
							</option>{% endfor %}
						</select>
					</div>

					<div class="row">

						<div class="col">
						<!-- Play video button -->
						<button id="video-play" type="submit">
							<div class="image-with-caption">
								<img src="{% static 'img/icons8-play-100.png' %}" title="{% trans "Play video" %}">
								<p>{% trans "Start video" %}</p>
							</div>
						</button>

						<!-- Pause video button -->
						<button id="video-pause" type="submit" class="d-none">
							<div class="image-with-caption">
								<img src="{% static 'img/icons8-pause-100.png' %}" title="{% trans "Pause video" %}">
								<p>{% trans "Pause video" %}</p>
							</div>
						</button>

						<!-- Stop button -->
						<button id="video-stop" type="submit">
							<div class="image-with-caption">
								<img src="{% static 'img/icons8-stop-100.png' %}" title="{% trans "Stop video" %}">
								<p>{% trans "Stop video" %}</p>
							</div>
						</button>
						</div>

					</div>

				</div>

			</div>

			<!-- Escape game controls -->
			<div class="row head_block">
				<div class="col">

					<!-- Reset escape game button -->
					<button id="reset-escapegame" value="{{ game.slug }}" type="submit">
						<div class="image-with-caption">
							<img src="{% static 'img/icons8-reset-100.png' %}" title="{% trans "Reset escape game" %}">
							<p>{% trans "Reset escape game" %}</p>
						</div>
					</button>
				</div>
			</div>

			<!-- Doors controls -->
			<div class="row head_block">{% for door in game.doors %}
				<div class="col-sm-4">
					<button class="lock-button{% if not door.locked %} d-none{% endif %}" id="lock-{{ game.slug }}" value="{{ game.url_callback }}/unlock/" type="submit">
						<div class="image-with-caption">
							<img src="{% static 'img/icons8-cadenas-100.png' %}" title="{% trans "Unlock" %} {{ door.name }}">
							<p>{% trans "Unlock" %} {{ door.name }}</p>
						</div>
					</button>
					<button class="unlock-button{% if door.locked %} d-none{% endif %}" id="unlock-{{ game.slug }}" value="{{ game.url_callback }}/lock/" type="submit">
						<div class="image-with-caption">
							<img src="{% static 'img/icons8-ouvrir-100.png' %}" title="{% trans "Lock" %} {{ door.name }}">
							<p>{% trans "Lock" %} {{ door.name }}</p>
						</div>
					</button>
				</div>{% endfor %}
			</div>
		</div>

		<!-- Escape game counter -->
		<div class="col head_block">
			<label class="head_block head_border">{% trans "Time Elapsed" %}</label>
			<div class="row head_block" style="text-align: center;">
				<div class="col">
					<font size="18">
						<div id="counter">
							0:00:00
						</div>
					</font>
				</div>
			</div>
		</div>
{% if rooms|length < 1 %}
		<!-- Room controls -->
		<div class="col head_block">
			<span>
				<p>{% trans "No room configured yet for this escape game." %}<br>
				{% trans "You can visit" %} <a href="/{{ request.LANGUAGE_CODE }}/admin/escapegame/escapegameroom/">{% trans "this" %}</a> {% trans "page to create new rooms." %}</p>
			</span>
		</div>
{% else %}{% for room in rooms %}
		<!-- Room controls -->
		<div class="col head_block" id="{{ room.slug }}">
			<label class="head_block head_border">&laquo;&nbsp;{{ room.room_name }}&nbsp;&raquo;</label>
			<div class="row head_block">
				<div class="col-8 challenge-status" id="{{ room.slug }}-data">
					<!-- Placeholder for room status -->
					{% trans "Data will be refreshed soon!" %}
				</div>
				<div class="col-4">
					<button class="lock-button{% if not room.door.locked %} d-none{% endif %}" id="lock-{{ room.slug }}" value="{{ room.url_callback }}/unlock/" type="submit">
						<div class="image-with-caption">
							<img src="{% static 'img/icons8-cadenas-100.png' %}" title="{% trans "Unlock" %} {{ room.room_name }}">
							<p>{% trans "Unlock" %} {{ room.room_name }}</p>
						</div>
					</button>
					<button class="unlock-button{% if room.door.locked %} d-none{% endif %}" id="unlock-{{ room.slug }}" value="{{ room.url_callback }}/lock/" type="submit">
						<div class="image-with-caption">
							<img src="{% static 'img/icons8-ouvrir-100.png' %}" title="{% trans "Lock" %} {{ room.room_name }}">
							<p>{% trans "Lock" %} {{ room.room_name }}</p>
						</div>
					</button>
				</div>
			</div>
		</div>
{% endfor %}{% endif %}
		<!-- Map -->
		<div class="col head_block">
			<label class="head_block head_border">{% trans "Map" %} &laquo;&nbsp;{{ game.escapegame_name }}&nbsp;&raquo;</label>
			<div class="col head_block">
				{% if not game.map_image %}<span>{% trans "No map data available." %}</span>{% else %}<canvas id="map" class="col head_block" width="1648" height="904"></canvas>{% endif %}
			</div>
		</div>

{% endblock %}
