{% extends "escapegame/base.html" %}
{% load static %}
{% block content %}
	<div class="title">
		<h1>{{ game.name }}</h1>
	</div>

	<input id="game-slug" type="hidden" value="{{ game.slug }}">

	<div class="col">
		<label class="head_block">Video Brief</label>
		<div class="row">
			<div class="col">
				<button id="start-escapegame" type="submit">
					<img src="{% static 'img/icons8-play-100.png' %}">
				</button>
				<button id="stop-escapegame" type="submit">
					<img src="{% static 'img/icons8-stop-100.png' %}">
				</button>

			</div>
			<div class="col">
				<p class="time" id="time_start"></p>
			</div>
		</div>
	</div>

	{% for room in rooms %}
	<div id="{{ room.slug }}" class="col">
		<label class="head_block">{{ room.name }}</label>
		<div class="row">
			<div class ="col">
				<button id="lock-{{ room.slug }}" type="submit">
					<img src="{% static 'img/icons8-cadenas-100.png' %}">
				</button>
				<button id="unlock-{{ room.slug }}" type="submit">
					<img src="{% static 'img/icons8-ouvrir-100.png' %}">
				</button>
			</div>
		</div>
		<div id="{{ room.slug }}-data" class="row">
			<!-- Placeholder for status -->
			Data will be refreshed soon!
		</div>
	</div>
	<br>
	{% endfor %}
{% endblock %}
