{% extends "escapegame/base.html" %}
{% load i18n %}
{% block header %}{% include "escapegame/head.html" %}
{% endblock %}
{% block content %}
		<div class="row">
{% if games|length < 1 %}
			<div class="col-sm-6">
				<span>
					<p>{% trans "No escape game configured yet." %}<br>
					{% trans "You can visit" %} <a href="/{{ request.LANGUAGE_CODE }}/admin/escapegame/escapegame/">{% trans "this" %}</a> {% trans "page to create a new escape game." %}</p>
				</span>
			</div>
{% else %}{% for game in games %}
			<!-- Escape Game - {{ game.name }} -->
			<div class="col-sm-6">
				<div class="card">
					<img class="card-img-top" src="" alt="">
					<div class="card-body">
						<h5 class="card-title">{{ game.name }}</h5>
						<p class="card-text">{% trans "Management Interface for" %} {{ game.name }}</p>
						<a href="/{{ request.LANGUAGE_CODE }}/{{ game.slug }}/" class="btn btn-primary">{% trans "Management Interface" %}</a>
					</div>
				</div>
			</div>
{% endfor %}{% endif %}
		</div>
{% endblock %}
