{% load static %}
{% block head %}
	<meta charset="utf-8">
	{% if game.escapegame_name %}
	<title>Espace {{ game.escapegame_name }}</title>
	{% else %}
	<title>Escape Game</title>
	{% endif %}
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<script src="{% static 'js/jquery.min-3.3.1.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
