{% extends "web/base.html" %}
{% load static %}
{% block content %}

		<div class="title">
			<h1>{{ game.escapegame_name }}</h1>
		</div>

		<input id="game-slug" type="hidden" value="{{ game.slug }}">

		<!-- Escape game controls -->
		<div class="col head_block">
			<label class="head_block head_border">Escape Game Controls &laquo;&nbsp;{{ game.escapegame_name }}&nbsp;&raquo;</label>
			<div class="row head_block">
				<button id="start-escapegame" value="{{ game.slug }}" type="submit">
					<div class="image-with-caption">
						<img src="{% static 'img/icons8-play-100.png' %}" title="Start escape game">
						<p>Start escape game</p>
					</div>
				</button>
				<button id="stop-escapegame" value="{{ game.slug }}" type="submit">
					<div class="image-with-caption">
						<img src="{% static 'img/icons8-stop-100.png' %}" title="Reset escape game">
						<p>Reset escape game</p>
					</div>
				</button>
				<button class="lock-button{% if not game.sas_door_locked %} d-none{% endif %}" id="lock-sas-{{ game.slug }}" value="{{ game.url_callback_unlock_sas }}" type="submit">
					<div class="image-with-caption">
						<img src="{% static 'img/icons8-cadenas-100.png' %}" title="Unlock SAS door">
						<p>Unlock SAS door</p>
					</div>
				</button>
				<button class="unlock-button{% if game.sas_door_locked %} d-none{% endif %}" id="unlock-sas-{{ game.slug }}" value="{{ game.url_callback_lock_sas }}" type="submit">
					<div class="image-with-caption">
						<img src="{% static 'img/icons8-ouvrir-100.png' %}" title="Lock SAS door">
						<p>Lock SAS door</p>
					</div>
				</button>
				<button class="lock-button{% if not game.corridor_door_locked %} d-none{% endif %}" id="lock-corridor-{{ game.slug }}" value="{{ game.url_callback_unlock_corridor }}" type="submit">
					<div class="image-with-caption">
						<img src="{% static 'img/icons8-cadenas-100.png' %}" title="Unlock corridor door">
						<p>Unlock corridor door</p>
					</div>
				</button>
				<button class="unlock-button{% if game.corridor_door_locked %} d-none{% endif %}" id="unlock-corridor-{{ game.slug }}" value="{{ game.url_callback_lock_corridor }}" type="submit">
					<div class="image-with-caption">
						<img src="{% static 'img/icons8-ouvrir-100.png' %}" title="Lock corridor door">
						<p>Lock corridor door</p>
					</div>
				</button>
			</div>
		</div>

		<!-- Video controls -->
		<div class="col head_block">
			<label class="head_block head_border">Video Controls &laquo;&nbsp;{{ game.escapegame_name }}&nbsp;&raquo;</label>
			<div class="col head_block">
				<button id="video-play" value="{{ game.video.slug }}" type="submit">
					<div class="image-with-caption">
						<img src="{% static 'img/icons8-play-100.png' %}" title="Play video">
						<p>Start video</p>
					</div>
				</button>
				<button id="video-pause" value="{{ game.video.slug }}" type="submit" class="d-none">
					<div class="image-with-caption">
						<img src="{% static 'img/icons8-pause-100.png' %}" title="Pause video">
						<p>Pause video</p>
					</div>
				</button>
				<button id="video-stop" value="{{ game.video.slug }}" type="submit">
					<div class="image-with-caption">
						<img src="{% static 'img/icons8-stop-100.png' %}" title="Stop video">
						<p>Stop video</p>
					</div>
				</button>
			</div>
		</div>
{% if rooms|length < 1 %}
		<!-- Room controls -->
		<div class="col head_block">
			<span>
				<p>No room configured yet for this escape game.<br>
				You can visit <a href="/admin/escapegame/escapegameroom">this</a> page to create new rooms.</p>
			</span>
		</div>
{% else %}{% for room in rooms %}
		<!-- Room controls -->
		<div class="col head_block" id="{{ room.slug }}">
			<label class="head_block head_border">&laquo;&nbsp;{{ room.room_name }}&nbsp;&raquo;</label>
			<div class="row head_block">
				<div class="col-8 challenge-status" id="{{ room.slug }}-data">
					<!-- Placeholder for room status -->
					Data will be refreshed soon!
				</div>
				<div class="col-4">
					<button class="lock-button{% if not room.door_locked %} d-none{% endif %}" id="lock-{{ room.slug }}" value="{{ room.url_callback_unlock }}" type="submit">
						<div class="image-with-caption">
							<img src="{% static 'img/icons8-cadenas-100.png' %}" title="Unlock room door">
							<p>Unlock room door</p>
						</div>
					</button>
					<button class="unlock-button{% if room.door_locked %} d-none{% endif %}" id="unlock-{{ room.slug }}" value="{{ room.url_callback_lock }}" type="submit">
						<div class="image-with-caption">
							<img src="{% static 'img/icons8-ouvrir-100.png' %}" title="Lock room door">
							<p>Lock room door</p>
						</div>
					</button>
				</div>
			</div>
		</div>
{% endfor %}{% endif %}
		<!-- Map -->
		<div class="col head_block">
			<label class="head_block head_border">Plan &laquo;&nbsp;{{ game.escapegame_name }}&nbsp;&raquo;</label>
			<div class="col head_block">
				{% if not game.map_image %}<span>No map data available</span>{% else %}<canvas id="map" class="col head_block" width="1648" height="904"></canvas>{% endif %}
			</div>
		</div>

{% endblock %}
