{% extends "siteconfig/base.html" %}
{% load static %}
{% block content %}
	<div class="title">
		<h1>{{ game.escapegame_name }}</h1>
	</div>

	{% include 'siteconfig/messages.html' %}

	<input id="game-slug" type="hidden" value="{{ game.slug }}">

	<div class="col head_block">
		<label class="head_block head_border">Video Briefing &laquo;&nbsp;{{ game.escapegame_name }}&nbsp;&raquo;</label>
		<div class="row head_block">
			<button id="start-escapegame" type="submit">
				<div class="image-with-caption">
					<img src="{% static 'img/icons8-play-100.png' %}" title="Start escape game">
					<p>Start escape game</p>
				</div>
			</button>
			<button id="stop-escapegame" type="submit">
				<div class="image-with-caption">
					<img src="{% static 'img/icons8-stop-100.png' %}" title="Reset escape game">
					<p>Reset escape game</p>
				</div>
			</button>
			<button class="lock-button" id="lock-sas-{{ game.slug }}" value="{{ game.url_callback_unlock_sas }}" type="submit"> 
				<div class="image-with-caption">
					<img src="{% static 'img/icons8-cadenas-100.png' %}" title="Unlock SAS door">
					<p>Unlock SAS door</p>
				</div>
			</button>
			<button class="unlock-button" id="unlock-sas-{{ game.slug }}" value="{{ game.url_callback_lock_sas }}" type="submit">
				<div class="image-with-caption">
					<img src="{% static 'img/icons8-ouvrir-100.png' %}" title="Lock SAS door">
					<p>Lock SAS door</p>
				</div>
			</button>
			<button class="lock-button" id="lock-corridor-{{ game.slug }}" value="{{ game.url_callback_unlock_corridor }}" type="submit">
				<div class="image-with-caption">
					<img src="{% static 'img/icons8-cadenas-100.png' %}" title="Unlock corridor door">
					<p>Unlock corridor door</p>
				</div>
			</button>
			<button class="unlock-button" id="unlock-corridor-{{ game.slug }}" value="{{ game.url_callback_lock_corridor }}" type="submit">
				<div class="image-with-caption">
					<img src="{% static 'img/icons8-ouvrir-100.png' %}" title="Lock corridor door">
					<p>Lock corridor door</p>
				</div>
			</button>

		</div>
	</div>

{% if rooms|length < 1 %}
	<div class="col head_block">
		<span>
			<p>No room configured yet for this escape game.<br>
			You can visit <a href="/admin/escapegame/escapegameroom">this</a> page to create new rooms.</p>
		</span>
	</div>
{% else %}
	{% for room in rooms %}
	<div class="col head_block" id="{{ room.slug }}">
		<label class="head_block head_border">Salle &laquo;&nbsp;{{ room.room_name }}&nbsp;&raquo;</label>
		<div class="row head_block">
			<div class="col" id="{{ room.slug }}-data">
				<!-- Placeholder for room status -->
				Data will be refreshed soon!
			</div>
			<div class="col">
				<button id="lock-{{ room.slug }}" value="{{ room.url_callback_unlock }}" class="lock-button" type="submit">
					<div class="image-with-caption">
						<img src="{% static 'img/icons8-cadenas-100.png' %}" title="Unlock room door">
						<p>Unlock room door</p>
					</div>
				</button>
				<button id="unlock-{{ room.slug }}" value="{{ room.url_callback_lock }}" class="unlock-button" type="submit">
					<div class="image-with-caption">
						<img src="{% static 'img/icons8-ouvrir-100.png' %}" title="Lock room door">
						<p>Lock room door</p>
					</div>
				</button>
			</div>
		</div>
	</div>
	{% endfor %}
{% endif %}
{% endblock %}
